@font-face {
	font-family: 'bebas_thin';
	src: url('../fonts/BebasNeue_Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:300italic,400,600,300');
}

body {
	font-weight: 300;
	// font-size: 62.5%;
	font-family: 'bebas_thin';
	transition: 0.3s all ease-in;
}

ul {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.2em;
}

a {
	text-decoration: none;
	color:$dark-side;
}

a:hover {
	cursor: pointer;
}

.button {
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.09em;
}

input, .text {
	font-family: 'Open Sans';
}

.text {
	line-height: 1.8em;
	p{
		text-align: justify;
		padding: 12px 0;
	}
}

.link {
	color: $baby-blue;
	text-decoration: none;
}
.link:hover {
	border-bottom: 1px dotted $baby-blue;
	cursor: pointer;
}

.leading{
	font-size: 1.2em;
	line-height: 1.7em;
	font-weight: 600;
}

.gallery {
	.person{
		font-family: 'Open Sans';
		font-weight: 400;
	}
	.text-add{
		font-size: 1.4em;
		line-height: 1.5em;
		letter-spacing: 4px;
	}
}