$snow-white: #ffffff;
$dark-side: #000000;
$baby-blue: #00aeef;

/******SCREEN_SIZES******/
$catelyn: 1140px;
$robb: 960px;
$sansa: 768px;
$arya: 480px; // landscape
$bran: 580px; // portait
$rickon: 320px;



/******Z-INDEXES******/
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;