.text {
	width: 280px;
	margin: 0 auto;
	overflow: hidden;
	transition: all 0.2s linear;
	@include media($arya) {
		width: 500px;
		transition: all 0.2s linear;
	}
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

.video-wrapper {
	position: relative;
	video{
		height: auto;
		z-index: 1;
		width: 100%;
	}

	 video::cue{
		background-color: rgba(0,0,0,0.5);
		z-index: 2147483647;
	}
}


/*CONTROLS*/
.control{
	position: absolute;
	top: 0;
	width: 500px;
	height: 100%;
	z-index: 5;
	.btnPlay {
		width: 100%;
		height: 100%;
		cursor:pointer;
		border-radius: 6px 0 0 6px;
	}
	.icon-play, .icon-pause{
		
		width: 16px;
		height: 19px;
		display: block;
		position: absolute;
		top: 70px;
		left: 27%;
		@include media($arya) {
			width: 16px;
			height: 19px;
			display: block;
			position: absolute;
			top: 130px;
			left: 48%;
		}

	}
	.icon-pause{
		// background:url("../images/pause-btn.png") no-repeat;
	}
	.icon-play{
		background:url("../images/play-btn.png") no-repeat;
	}
	.btnPlay:hover{
		.icon-pause{
			background:url("../images/pause-btn.png") no-repeat;
		}
	}
}