.main {
	background: url('../images/bg.png');
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: top;
}

.buttons {
	height: 40px;
	margin: 0 auto;
	width: 500px;
	padding-top: 150px;
	.button {
		margin: 0px 60px;
	}
}

.email-form {
	height: 40px;
	margin: 0 auto;
	width: 380px;
	padding-top: 150px;
	// padding-top: 150px;
}

.social {
	padding-top: 15px;
}

.pinterest {
	background: url('../images/pinterest.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}