.button{
	width: 120px;
	height: 40px;
	border: 1px $dark-side solid;
	text-align: center;
	padding: 12px;
	display: inline-block;
	vertical-align:middle;

	transition: background-color .5s;
}

.button:hover {
	cursor: pointer;
	color: $snow-white;
	background-color: $dark-side;
	@include opacity(0.8);

	transition: background-color .5s;
	.popover{
		color:$dark-side;
	}
}


.btn-close {
	height: 40px; 
	width: 40px; 
	position: relative;
	float: right;
	cursor: pointer;

	.line {
		width: 3px; 
		height: 30px; 
		background: lighten($dark-side, 5%);
		border-radius: 3px; 
		display: block;
		position: absolute; 
		top: 20;
		&.left{
			-webkit-transform: rotateZ(-45deg);
			left: 20px;
		}

		&.right{
			-webkit-transform: rotateZ(45deg);
			left: 20px;
		}
		transition: all 0.3s cubic-bezier(.87,.39,.74,1.31);
	}
	&.open{
		div.line.left{
			-webkit-transform: rotateZ(-90deg);
		}

		div.line.right{
			-webkit-transform: rotateZ(90deg);
		}
	}
}

.btn-close:hover{
	.line{
		background: lighten($dark-side, 25%);
	}
}

// explanation at the begin
.button {
	position: relative;

	.popover {
		bottom: 60px;
		text-align: center;
		font-size: 12px;
		left: -40px;
		padding: 7px 10px;
		position: absolute;
		width: 200px;
		z-index: 4;
		border:  1px solid $dark-side;

		&:before {
			border-top: 7px solid rgba(0,0,0,0.85);
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
			bottom: -7px;
			content: '';
			display: block;
			left: 50%;
			margin-left: -7px;
			position: absolute;
		}
		animation-name: floating;
		-webkit-animation-name: floating;

		animation-duration: 1.5s;	
		-webkit-animation-duration: 1.5s;

		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}

	.popover:hover{
		color:$dark-side;
	}
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(10%);	
	}	
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(10%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}
}
