.button {
	width: 120px;
	height: 40px;
	border: 1px $dark-side solid;
	text-align: center;
	padding: 12px;
	display: inline-block;
	vertical-align:middle;

	transition: background-color .5s;
}

.button:hover {
	cursor: pointer;
	color: $snow-white;
	background-color: $dark-side;
	@include opacity(0.8);

	transition: background-color .5s;
}

.close {
	float: right;
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Open Sans';
	cursor: pointer;
}