input {
	height: 40px;
	width: 240px;
	border: 1px $dark-side solid;
	padding: 12px;
	display: inline-block;
	vertical-align:middle;
}
input[type="email"] {
	@include opacity(0.6);
}

.email {
	margin-right: -1px;
	text-align: left;
}

::-webkit-input-placeholder{
	font-style: italic;
	//font-size: 1.2em;
}

.wrap-login{
	width: 240px;
	margin: 0 auto;
	padding-top: 100px;
	input {
		margin-top: 20px;
	}
	.button{
		width: 240px;
		background-color: $snow-white;
		transition: background-color .5s;
	}
	.button:hover {
		cursor: pointer;
		color: $snow-white;
		background-color: $dark-side;
		@include opacity(0.8);

		transition: background-color .5s;
	}

}